/*Footer*/
footer{
    margin-top: 4vh;
    width: 100%;
    background: #202020;
    color: white;

}

.container-footer-all{
  padding: 40px;
}

.column h1{
    font-size: 28px;
}

.column p{
    font-size: 18px;
    color: #C7C7C7;
    margin-top: 20px;
}

.row1{
    margin-top: 10px;
    display: flex;
}

.row1 label{
  font-size: 18px;
  height: 22px;
    margin-top: 10px;
    margin-left: 10px;
    color: #C7C7C7;
}

.row1 a{
    text-decoration: none;
    color:white;
}

.row1 label .border{
  width: 30%;
  transition: .2s ease;
}

.row1 label:hover .border{
  width: 120px;
  transition: .3s ease;
}

.container-footer{
    width: 100%;
    background: #101010;
}

.footer{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.copyright{
    color: #C7C7C7;
    margin: auto 1px;
}

.copyright{
    text-decoration: none;
    color: white;
    font-weight: bold;

}

.information a{
    text-decoration: none;
    color: #C7C7C7;
}

iframe{
  width: 90%;
}

/*Icocnos Footer*/
footer .container-footer .fab,
footer .container-footer .fas{
  margin: 0 4px;
  padding: 12px;
  background: #202020;
  transition: .2s ease;
}

footer .container-footer .fab:hover,
footer .container-footer .fas:hover{
  margin: 0 4px;
  padding: 12px;
  background: #273c75;
  transition: .3s ease;
}

/*Media Querie*/
@media screen and (max-width: 768px){
  .footer-contact{
    margin-top: 4vh;
  }
