@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,500,700');

body{
  overflow-x: hidden;
  font-family: 'IBM Plex Sans', sans-serif;
}

.container-historia{
  padding-left: 10vh;
  padding-right: 10vh;
  margin-bottom: 10vh;
}

.breadcrumb{
  margin-top: 20px;
}

.carousel-item img{
	filter: brightness(90%);
}

.carousel-inner{
  margin-bottom: 4vh;
}

h3{
  padding: 10px;
}

.container-contact{
  margin-left: 2%;
}

.frame-map{
  margin-left: 6%;
  width: 100%;
}

@media screen and (max-width: 768px){
  h3{
    font-size: 20px;
  }
  .container-contact{
    margin-left: 0%;
  }
  
  .frame-map{
    margin-left: 0%;
    width: 100%;
  }

  .information{
    margin-left: 6px;
  }
}